/** @base */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

/** @layout */

#header {
    width: 100%;
    float: left;
    height: auto;
    /*
    background: #568790;
    box-shadow: 1px 1px 3px silver;
    */
    margin-bottom: 10px;
}

#wrapper {
    width: 1200px;
    height:100%;
    margin-left: auto;
    margin-right: auto;
}

#sider {
    width: 10%;
    float: left;
    height:100%;
}

#sider a {
    text-decoration: none;
    color: #568790;
}

#sider a:hover {
    color: #2D79A3;
}
#main-part {
    width: 88%;
    float: right;
    height:100%;
    padding-left: 2%;
    padding-right: 2%;
}


/** @module */

/** @state */

/** @theme */
.title {
    float: left;
    color: #568790;
    font-size: 2em;
}

/** iPhone 横屏 */
@media screen and (max-width:1136px) and (min-width:640px){
    body {
        font-size: 1.5em;
    }
    #wrapper {
        width: 100%;
    }

    #main-part {
        width: 100%;
    }
    #sider {
        display: none;
    }
}


/** iPhone 竖屏 */
@media screen and (max-width:640px) {
    body {
        font-size: 1.5em;
    }
    #wrapper {
        width: 100%;
    }

    #main-part {
        width: 100%;
    }
    #sider {
        display: none;
    }
}